.clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

button {
	border: 1px solid darken(@primaryButtonBG, 25%);
	background: @primaryButtonBG;
	border-radius: .125em;
	font-family: 'Helvetica', sans-serif;
	font-size: .625em;
	line-height: 1;
	margin: 0;
	padding: .125em .375em;
}

.input-group {
    margin: 0;
    padding: 0;
}

.input-group > input {
    margin: 0;
    padding: 0;
    border-radius: .125em;
    box-shadow: none;
    border: 1px solid gray;
}