@import "_normalize";
@import "_utils";
@import "_colors";

// Mantel Bars
.MantelBar {
	background: @primaryBG;
	> div {
		max-width: 1170px;
		margin: 0 auto;
		padding: .125em;
	}
	h1, h2 {
		margin: 0;
		padding: 0;
		color: white;
		font-size: .825em;
		line-height: 1.125em;
	}
	h1 {
		float: left;
	}
	h2 {
		float: right;
	}
}